<section id="code-availability" class="about-section">
	<h1>Code availability</h1>
	<p>
		The source code of this project is freely available on GitHub: 
		<code><a href="https://github.com/Integrative-Transcriptomics/PhageGap">Integrative-Transcriptomics/PhageGap</a></code>
		contains the code base for this web application.
		<code><a href="https://github.com/Integrative-Transcriptomics/phage_dark_matter">Integrative-Transcriptomics/phage_dark_matter</a></code>
		contains the code base for the underlying prediction model.
	</p>
</section>

<section id="contact" class="about-section">
	<h1>Contact</h1>
	<address style="font-family: monospace; font-size: smaller">
		Simon Hackl [simon.hackl(at)uni-tuebingen.de]
		<br />
		Integrative Transcriptomics, Institute for Bioinformatics and
		Medical Informatics, University Tübingen
		<br />
		Sand 14, 72076 Tübingen, Germany
	</address>
</section>

<section id="citation" class="about-section">
	<h1>Citation</h1>
	<p>If you use this software, please cite it as below:</p>
	<div class="remark" style="font-family: monospace; font-size: smaller">
		<p><i>PhageGAP: Prediction of phage protein function using protein language models</i></p>
		<p>
			Simon Hackl, Mona Scheurenbrand, Kay Nieselt, Maik Wolfram-Schauerte
		</p>
		<p>
			Unpublished. GitHub:
			<code><a href="https://github.com/Integrative-Transcriptomics/PhageGap">Integrative-Transcriptomics/PhageGap</a></code>
		</p>
	</div>
</section>