<section id="overview" class="about-section">
	<h1>Overview</h1>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
		invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
		accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
		sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
		elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
		kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
</section>

<section id="protein-embeddings" class="about-section">
	<h2>Protein embeddings</h2>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
		invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
		accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
		sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
		elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
		kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
</section>

<section id="prediction-model" class="about-section">
	<h2>Prediction model</h2>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
		invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
		accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
		sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
		elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
		kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
</section>

<section id="functional-classes" class="about-section">
	<h2>Functional classes</h2>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
		invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
		accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
		sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
		elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
		kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
	<table class="table striped compact">
		<thead>
			<tr>
				<th>Class</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Class A</td>
				<td>Lorem ipsum dolor sit amet.</td>
			</tr>
			<tr>
				<td>Class B</td>
				<td>Lorem ipsum dolor sit amet.</td>
			</tr>
			<tr>
				<td>Class C</td>
				<td>Lorem ipsum dolor sit amet.</td>
			</tr>
		</tbody>
	</table>
</section>