<section id="legal-information" class="about-section">
	<h1>Legal information</h1>
</section>

<section id="cookie-usage" class="about-section">
	<h2>Cookie usage</h2>
	<p>
		We use a strictly necessary non-tracking session cookie so that you can
		access your data. (1) Your data will not be accessible to other people.
		(2) No personalized data is collected or shared with third parties and you 
		will not be tracked by this cookie. The cookie will automatically expire
		after 24 you close your browser. By using our website, you consent to the
		use of this cookie.
	</p>
</section>

<section id="medical-disclaimer" class="about-section">
	<h2>Medical disclaimer</h2>
	<p>
		If medical information is provided on this site, it is provided as an
		information resource only, and is not to be used or relied on for any
		diagnostic or treatment purposes.
	</p>
</section>

<section id="content-liability" class="about-section">
	<h2>Content liability</h2>
	<p>
		The contents of our pages were created with the utmost care. However, we
		cannot guarantee the accuracy, completeness and actuality of the
		content. As a service provider, we are responsible for our own content
		on these pages under the general laws according to § 7 TMG. According to
		§§ 8 to 10 TMG, however, we are not obligated as a service provider to
		monitor transmitted or stored third-party information or to investigate
		circumstances that indicate illegal activity. Obligations to remove or
		block the use of information under the general laws remain unaffected.
		However, liability in this regard is only possible from the point in
		time at which a concrete infringement of the law becomes known. If we
		become aware of such infringements, we will remove this content
		immediately.
	</p>
</section>

<section id="link-liability" class="about-section">
	<h2>Link liability</h2>
	<p>
		This page may contain links to external websites of third parties, on
		whose contents we have no influence. We cannot take any liability for
		these external contents. The respective provider or operator of the
		pages is always responsible for the content of the linked pages. The
		linked pages were checked for possible legal violations at the time of
		linking. Illegal contents were not recognizable at the time of linking.
		However, a permanent control of the contents of the linked pages is not
		reasonable without concrete evidence of a violation of the law. If we
		become aware of any infringements, we will remove such links
		immediately.
	</p>
</section>

<section id="data-privacy" class="about-section">
	<h2>Data privacy</h2>
	<p>
		The use of our website is possible without providing personal data and
		no processed data is stored. If personal data (such as name, address or
		e-mail addresses) is collected, this is on a voluntary basis. This data
		will not be passed on to third parties without your express consent. We
		point out that data transmission over the Internet (e.g. communication
		by e-mail) may yield security gaps. Complete protection of data against
		access by third parties is not possible. The use of contact data
		published within the framework of the impressum by third parties for the
		purpose of sending advertising and information material is hereby
		expressly prohibited. The operators of the pages expressly reserve the
		right to take legal action in the event of the sending of advertising
		information, such as spam e-mails.
	</p>
</section>

<section id="copyright" class="about-section">
	<h2>Copyright</h2>
	<p>
		This program is free software: you can redistribute it and/or modify it
		under the terms of the GNU General Public License as published by the
		Free Software Foundation, either version 3 of the License, or (at your
		option) any later version. This program is distributed in the hope that
		it will be useful, but WITHOUT ANY WARRANTY; without even the implied
		warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
		GNU General Public License for more details: <a
		href="https://www.gnu.org/licenses/gpl-3.0.en.html"
		target="_blank">www.gnu.org/licenses/gpl-3.0.en</a>.
	</p>
</section>