<!doctype html>
<!--
PhageGAP
AUTHOR: Simon Hackl
CONTACT: simon.hackl@uni-tuebingen.de

LICENSE
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<html>
	<head>
		<title>PhageGAP</title>
		<!-- Provide meta information about the application. -->
		<meta charset="utf-8" />
		<meta name="csrf-token" content="{{ csrf_token }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="PhageGAP: Prediction of phage protein function using protein language models"
		/>
		<meta name="author" content="Simon Hackl" />
		<!-- Definition of stylesheets to use in the application. -->
	<link
		rel="icon"
		href="{{url_for('static', filename='resources/media/icon_512.png')}}"
	/>
	<link 
		rel="stylesheet"
		href="https://cdn.metroui.org.ua/5.1.20/metro.css"
	/>
	<link
		rel="stylesheet"
		href="{{url_for('static', filename='css/styles.css')}}"
	/>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
	/>
	<!-- Definition of java script files to use in the application. -->
	<script
	 	src="https://code.jquery.com/jquery-4.0.0.min.js"
		integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao="
		crossorigin="anonymous">
	</script>
	<script
		src="https://cdn.metroui.org.ua/5.1.20/metro.js">
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
	></script>
	<script
		src="https://cdn.jsdelivr.net/npm/echarts@6.1.0/dist/echarts.min.js"
	></script>
	<script
		src="https://3Dmol.org/build/3Dmol-min.js"
	></script>
	<script
		src="https://cdn.jsdelivr.net/npm/arquero@latest"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
	></script>
	</head>
	<body>
		<ul data-role="materialtabs">
			<li class="active">
				<a href="#home">ABOUT</a>
			</li>
			<li id="classification-tab" disabled>
				<a href="#classification"><span class="phagegap-logo-text">PhageGAP</span></a>
			</li>
			<li>
				<a href="#usage">USAGE</a>
			</li>
		</ul>

		<!-- Tab/UI of the index (about) page of the web application. -->
		<div id="home">
			<div class="grid">
				<hr/>
				<div class="row no-gap">
					<div class="cell-12">
						<div id="home-relevance" class="hero p-20">
							<p class="text-just text-leader2 text-medium w-50">
								<a href="https://www.ncbi.nlm.nih.gov/books/NBK493185/" target="_blank">Bacteriophages</a> are viruses that
								infect bacteria and shape microbial communities.
								Growing antibiotic resistance and advances in biotechnology have renewed interest in understanding how phages
								infect, manipulate, and lyse their hosts.
							</p>
							<p class="text-just w-50">
								Despite the rapid growth of phage genome data, current annotation approaches still rely largely on sequence
								homology, and many predicted proteins remain hypothetical or poorly characterized.
								This "<i>phage unknome</i>" limits mechanistic insight into host takeover and the discovery of proteins with
								biotechnological potential.
							</p>
							<span id="home-relevance-image-credits" class="reduce-4 p-1">
								Image: 
								<a href="https://commons.wikimedia.org/wiki/File:Phage.jpg">
									Graham Beards / Wikimedia Commons
								</a>,
								<a href="https://creativecommons.org/licenses/by-sa/3.0/">
									CC BY-SA 3.0
								</a>,
								modified and colorized.
							</span>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row no-gap">
					<div class="cell-12">
						<div id="home-description" class="hero p-20">

							<p class="text-just text-leader2 text-medium w-50 flex-right">
								PhageGAP predicts curated functional classes for phage proteins using protein language model embeddings.
							</p>

							<p class="text-just w-50 flex-right">
								Proteins are placed within an interactive embedding landscape of reference phage, bacterial, and viral 
								proteins and identifies their nearest neighbors.
								Sequence comparison, genomic context, and structural information can then be explored together to support
								interpretation and hypothesis generation.
							</p>
						</div>
					</div>
				</div>
			</div>
			{% include "footer.html" %}
		</div>

		<!-- Tab/UI for the functional part of the web application. -->
		<div id="classification" class="pl-4 pr-4">
			<div class="grid">

				<!-- Toolbar. -->
				<div class="row no-gap">
					<div class="cell-12 mt-2">
						<button id="data-input-toggle" class="small"><i class="fa-solid fa-caret-down"></i> Data Input</button>
						<button id="toolbar-genomic-context-button" class="small ml-1">
							<i class="fa-solid fa-dna"></i> Add Genomic Context
						</button>
						<!--<button id="toolbar-maximize-structure-button" class="small ml-1">
							<i class="fa-solid fa-picture-in-picture"></i> Maximize Structure View
						</button>-->
						<button id="toolbar-screenshot-button" class="small ml-1">
							<i class="fa-solid fa-camera"></i> Screenshot
						</button>
						<button id="toolbar-download-results-button" class="small ml-1 dropdown-toggle">
							<i class="fa-solid fa-download"></i> Download Results
						</button>
						<button id="toolbar-download-session-button" class="small ml-1">
							<i class="fa-solid fa-download"></i> Download Session
						</button>
					</div>
				</div>
				
				<!-- Input forms container. -->
				<div id="data-input" data-role="collapse" data-duration=200 data-toggle-element="#data-input-toggle">
					<!-- Input forms -->
					<div class="row no-gap">
						<div class="cell-12">
							<div class="card">
								<div class="card-header">
									<span class="label">Provide Protein Sequence(s) in FASTA Format via Text and/or File Input</span>
								</div>
								<div class="card-content centered w-80-xl w-100-md mb-3 mt-3">
									<textarea id="data-input-text" data-role="textarea" placeholder=">P03706 Endolysin OS=Escherichia phage lambda
MVEINNQRKAFLDMLAWSEGTDNGRQKTRNHGYDVIVGGELFTDYSDHPRKLVTLNPKLK
STGAGRYQLLSRWWDAYRKQLGLKDFSPKSQDAVALQQIKERGALPMIDRGDIRQAIDRC
SNIWASLPGAGYGQFEHKADSLIAKFKEAGGTVREIDV"></textarea>
									<b class="ml-3 mr-3">and/or</b>
									<input id="data-input-file" type="file" data-button-title="Choose File" data-role="file" />
								</div>
								<div class="card-footer">
									<button id="input-submit-button" class="flat-button small styled-button"><i class="fa-solid fa-upload"></i> Function Prediction</button>
									<button id="session-reload-button" class="flat-button small styled-button ml-3"><i class="fa-solid fa-upload"></i> Reload Session</button>
									<button id="input-info-toggle" class="help-button ml-3"><i class="fa-solid fa-circle-question"></i></button>
								</div>

								<!-- Short information about input specification. -->
								<div id="input-info" data-role="collapse" data-collapsed="true" data-toggle-element="#input-info-toggle">
									<ul class="pl-4 reduce-2 text-just">
										<li>
											<b>Input must be in FASTA format.</b> Line length is unrestricted; ambiguous amino acids are converted to <code>X</code>.
											The first header field after <code>&gt;</code> is used as the protein ID; remaining header text is treated as description.
											Text and file input are combined.
										</li>
										<li>
											Optional <b>Genomic Context</b> can be added from the toolbar by providing a GFF file.
											FASTA and GFF protein IDs must match.
										</li>
										<li>
											<code>Function Prediction</code> uploads data for classification.
											Results are added to the <b>Embedding Landscape</b> as <em>User Data</em> (<b>○</b>).
											Additional submissions are appended to existing results.
										</li>
										<li>
											Results table/session data can be downloaded from the toolbar and restored using <code>Reload Session</code>.
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr style="margin: 5px;"/>
				
				<div id="app-area">
					<div class="row gap-1">
						<div data-role="splitter" data-split="vertical" data-split-sizes="72%, 28%">
							
							<!-- Embedding landscape chart. -->
							<div class="cell-auto w-min-25 pr-1">
								<span class="label">Embedding Landscape</span>
								<select id="protein-select" 
										class="float-right small w-25 mr-2"
										data-role="select" data-clear-button="true"
										data-filter="true"
										data-prepend="Selected Protein:"
										data-filter-placeholder="Search for protein ID..."
										data-placeholder="None"
										data-use-placeholder="true">
								</select>
								<div id="embedding-landscape-chart-container" data-role="resizer"></div>
							</div>

							<!-- Prediction summary and nearest neighbor information charts. -->
							<div class="cell w-min-25 pl-1" minimized>
								<div class="grid">
									<div class="row">
										<span id="category-probabilities-chart-label" class="label" minimized>Prediction Summary</span>
										<div id="category-probabilities-chart-container" data-role="resizer">
										</div>
									</div>

									<!-- Structure view chart. -->
									<div class="row mt-2">
										<span class="label">Nearest-Neighbor
											<code id="nearest-neighbor-id-tag"
											class="reduce-3 va-middle"></code>
											<code id="nearest-neighbor-class-tag"
											class="reduce-3 va-middle"></code>
										</span>

										<span class="label">Structure
											<code id="structure-view-info-tag"
											class="reduce-3 va-middle"></code>
										</span>
										<div id="structure-view-container" data-role="resizer">
										</div>	
									</div>

									<!-- Sequence alignment chart. -->
									<div class="row">
											<span class="label">Sequence Alignment
												<code id="sequence-alignment-identity-tag"
												class="reduce-3 va-middle"></code>
											</span>
											<div id="sequence-alignment-chart-container"></div>
									</div>

									<span class="reduce-3 mt-1 centered">
										<i class="fa-solid fa-square" style="color: #4477BB"></i>&nbsp;Match&nbsp;
										<i class="fa-solid fa-square" style="color: #CC4466"></i>&nbsp;Mismatch&nbsp;
										<i class="fa-solid fa-square" style="color: #BBBBBB"></i>&nbsp;InDel&nbsp;
										<i class="fa-regular fa-square" style="color: #BBBBBB"></i>&nbsp;Gap
									</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Genomic context chart. -->
					<div class="row gap-1">
						<div class="cell-12">
							<span class="label">Genomic Context</span>
							<div id="genomic-context-chart-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Tab/UI for usage information of the web application. -->
		<div id="usage">
			<div class="container-fluid">
				<div class="row">
					<!-- Sticky navigation. -->
					<aside class="cell-lg-3 cell-md-4 cell-sm-12">
						<nav class="usage-nav">
							<h3 class="mb-3">Index</h3>
							<ul id="usage-nav-index" class="h-auto">
								<!-- Is filled automatically by the js/main.js:indexAbout() function. -->
							</ul>
						</nav>
					</aside>
					<!-- About content. -->
					<main class="cell-lg-9 cell-md-8 cell-sm-12">
						<article class="usage-content">
							{% include "usage.html" %}
						</article>
					</main>
				</div>
			</div>
		</div>
		<script type="module">
			import { initApp } from "{{url_for('static', filename='js/main.js')}}";

			// Initialize the application after the page has loaded.
			window.onload = initApp;
		</script>
	</body>
</html>
